form {
    display: grid;
}

form button[type=submit] {
    max-width: 150px;
}

#form-buttons {
    display: flex;
    justify-content: space-between
}

.container {
    width: 100%;
    display: grid;
}

.container:has(> h1, > h2) {
    margin-block: 15px;
}

.container:has(> input, > select) {
    margin-block: 10px;
}

form input {
    margin-bottom: 10px;
}

.container input {
    margin-bottom: 0;
}

.container :is(h1, h2, h3) {
    margin: 0;
}