/* Minimal CSS for index.html */
:root{
    --bg: #d6d6d6;         /* Fondo general */
    --card: #ffffff;        /* Tarjetas, paneles */
    --text: #003049;        /* Texto principal */
    --primary: #c1121f;     /* Botones, enlaces principales */
    --secondary: #669bbc;   /* Bordes, iconos secundarios */
    --tertiary: #9e3e44;
    --danger: #780000;      /* Botones de eliminar, alertas */
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    padding: 0;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

/* Header layout using Flexbox */
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:var(--card);
    padding:0px 5%;
    border-bottom:4px solid var(--primary);
    size: 50px;
}
header h1{
    margin:10;
    font-size:30px;
    color:var(--primary);
}
header nav {
    margin-left: 0px;
    display: flex;
}

main {
    padding: 0 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section {
    width: min(500px, 100%);
    align-self: center;
}

.button {
    padding: 4px;
    margin-block: 0;
    text-decoration:none;
    color:var(--card);
    background:var(--primary);
    font-size:16px;
    border-radius:6px;
    transition:background 0.2s;
    text-align: center;
    border-width: 0;
    align-self: flex-start;
}

.button + .button {
    margin-left: 5px;
}

.button img {
    filter: invert(100%);
    vertical-align: middle;
}

.button:hover{
    background:var(--secondary);
    color:var(--text);
}
/* Botón de eliminar o alerta */
.btn-danger, .alert {
    background: var(--danger);
    color: var(--card);
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.btn-danger:hover {
    background: #a00000;
}
/* Tarjetas y paneles */
.card, section, .trello-card {
    background: var(--card);
    color: var(--text);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    padding: 16px;
    margin-bottom: 18px;
}

main h1 {
    text-align: center;
}

/* Dropdown */

.dropdown {
    position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content > * {
  display: block;
  background:var(--tertiary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#languagechooser > .dropdown-content {
    right: 0;
}

#languagechooser > .dropdown-content > * {
    margin-top: 5px;
}